DATABASE_URL=mysql2://root:password@database:3306/lobsters_development
PORT=4009
RAILS_ENV=development
FORCE_SSL=false
REDIS_URL=redis://host.docker.internal:6379/
SECRET_KEY_BASE=d7c31ae2e4dca8504dac1a3b2a3bb1a04d7f7e1abe6be78c26f08d0fba57a7a9c64f69f70ced36166150d38956bf0ac766ca9807a024d3df09921055f03d6f5b
RAILS_SERVE_STATIC_FILES=true
LOBSTER_SITE_NAME=Simpl Hackathon
LOBSTER_HOSTNAME=localhost:4009
OPEN_SIGNUPS=false